.main {
	background: #fff;
}
.logGrid {
	display: grid;
	grid-template-columns: repeat(2, 50%);
}
.imagen {
	width: 70%;
	height: auto;
	margin: auto;
	transform: translateX(30%);
}
.logDiv {
	margin-left: 30%;
	display: flex;
	list-style: none;
}
.logCreate {
	display: flex;
	flex-direction: row;
	list-style: none;
	width: 300px;
	padding: 0;
	border-bottom: solid #c8cccc 1px;
}
.lItem {
	margin: 2%;
	padding: 10px;
}
.a, .selected{
	text-decoration: none;
	font-family: Casual, serif;
	text-decoration-color: transparent;
}
.a{
	color: #5b2018;
}
.a:hover{
	color: #ffe782;
}
.selected{
	color: #ffe782;
}

.lItem2 {
	margin: auto;
	padding: 3px;
}
.lInput {
	width: 94%;
	margin-bottom: 2%;
	padding: 3%;
	border-radius: 10px;
	border: none;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.24);
	resize: none;
	font-family: arial, serif;
	outline: none;
}
.txt {
	margin: 0;
	padding: 0;
	color: #919797;
}
.forgot {
	font-size: 12px;
	color: #fe1177;
}

@media screen and (max-width: 599px) {

}

@media screen and (min-width: 600px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) {
	.button {
		background-color: #ffe782;
		padding: 3px 12px;
		font-family: Casual, serif;
		font-size: 24px;
		border: none;
		border-radius: 10px;
		outline: none;
		cursor: pointer;
		margin-top: 10px;
	}
}
