@media screen and (max-width: 599px) {

}

@media screen and (min-width: 600px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) {
    .div {
        background: #ffe782;
        padding: 1%;
    }
    .divW {
        background: #FFF5CF;
        padding: 1%;
    }

    .div h2 {
        margin: 0;
    }
    .button{
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
        font-family: Casual, serif;
        font-size: 30px;
        margin-left: 90%;
        text-decoration: underline;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 25%);
        row-gap: 3%;
        padding: 1%;
    }}