h1 {
	text-align: center;
	font-family: Casual;
	font-size: 96px;
}

.main {
	margin-top: 20px;
	color: #5b2018;
}

@media screen and (max-width: 599px) {

}

@media screen and (min-width: 600px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) {
	.wrapper{
		margin-bottom: 3%;
	}
}