@media screen and (max-width: 599px) {

}

@media screen and (min-width: 600px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) {
    .grid {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .img {
        width: 100%;
    }
    .item{
        margin-left: 10%;
        margin-top: 10%;
    }
}
