.fundGrid {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(4, auto);
	row-gap: 50px;
}

.tarjeta {
	width: 300px;
	height: auto;
	border-radius: 10px;
	padding: 10px;
	box-shadow: 0px 3px 6px #00000029;
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	transition-duration: 0.3s;
	transition-property: transform;
	z-index: 1;
	cursor: pointer;
}

.tarjeta:hover,
.tarjeta:focus,
.tarjeta:active {
	transform: scale(1.1);
	z-index: 2;
}

.txt {
	width: 300px;
	background: #eee;
	border-radius: 10px;
	box-shadow: 0px 3px 6px #00000029;
	text-align: center;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.txt p {
	width: 300px;
	font-size: 24px;
}

.img {
	width: 300px;
	height: 250px;
	object-fit: cover;
	margin: 0;
	padding: 0;
	border-radius: 10px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
