.ui {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	column-gap: 10%;
	padding: 3%;
}

.list {
	width: 90%;
	height: 72%;
	padding: 0 2%;
	overflow-y: auto;
	border-radius: 10px;
	box-shadow: 0px 3px 6px #00000029;
}

.item {
	width: 100%;
	height: 100px;
	display: grid;
	grid-template-columns: repeat(3, 33%);
	margin: 3% auto;
	padding: 0;
	background: #ffe782;
	border-radius: 10px;
	box-shadow: 0px 3px 6px #00000029;
	justify-items: right;
}

.text {
	width: 100%;
	color: #5b2018;
}

.petImg {
	height: 100px;
	object-fit: cover;
}

.deleteBtn {
	color: #5b2018;
	cursor: pointer;
}

.logOutBtn {
	color: #5b2018;
	cursor: pointer;
}
