.navbar {
	width: 100%;
	max-width: 1440px;
	position: fixed;
	top: 0;
	margin: auto;
	padding: 0;
	z-index: 10;
	background: #ffe782;
}

.navLogo {
	justify-items: right;
	width: auto;
}

.logoImg {
	width: 50px;
}

.navList {
	width: 100%;
	display: inline-flex;
	list-style: none;
	padding: 10px;
}

.navItem {
	text-align: center;
	transition-property: border-bottom;
	transition: transform 1s ease-in-out;
}

.navItem a {
	font-family: Casual;
	text-decoration: none;
	font-size: 24px;
	color: #5b2018;
}

.navItem:after {
	display: block;
	content: "";
	border-bottom: solid 2px #5b2018;
	transform: scaleX(0);
	transition: transform 250ms ease-in-out;
}

.navItem:hover:after {
	transform: scaleX(1);
}
