@media screen and (max-width: 599px) {

}

@media screen and (min-width: 600px) and (max-width: 1199px) {

}

@media screen and (min-width: 1200px) {
.image{
    width: 99%;
    height: 150px;
    object-fit: cover;
}
}