html {
	max-width: 1440px;
	margin: auto;
}

@font-face {
	font-family: "Casual";
	src: url(./fonts/dom-casual-bt.ttf) format("truetype");
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
		"Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.swiper-pagination-bullet {
	background: #fff !important;
	opacity: 0.5 !important;
}
.swiper-pagination-bullet-active {
	opacity: 1 !important;
	background: #ffe782 !important;
}

.hvr-grow {
	display: inline-block;
	vertical-align: middle;
	transform: translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	backface-visibility: hidden;
	-moz-osx-font-smoothing: grayscale;
	transition-duration: 0.3s;
	transition-property: transform;
	z-index: 1;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
	transform: scale(1.1);
	z-index: 2;
}
